.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 20px;
  width: 120%;
  position: sticky;
  top: 0;
  left: 0;
}

.header-item {
  margin-right: 10px;
}

